xlsxwriter==3.2.9
streamlit
pandas
kaleido==0.2.1
plotly
openpyxl
matplotlib
arabic-reshaper
python-bidi
streamlit
plotly
kaleido
pandas
numpy
arabic-reshaper
python-bidi
reportlab
Pillow
streamlit
pandas
numpy
plotly
kaleido
openpyxl
reportlab
arabic-reshaper
python-bidi
Pillow
